<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>UFLA News</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-list>
    <h3 class="login">Login</h3>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>


  <ion-button (click)="login()" expand="block" color="secondary">Entrar</ion-button>
  <div class="ion-text-center ion-padding-vertical">Não possui uma conta ainda?</div>
  <ion-button color="secondary" expand="block" routerLink="/register" routerDirection="forward" >Criar conta</ion-button>
</ion-content>