<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar showCancelButton="focus" placeholder="Encontrar meus publicadores" (ionChange)="updateListNews($event)">
  </ion-searchbar>
  
  <ion-card *ngFor="let inscritos of lstInscritos">
    <img src="{{inscritos.publicadores.foto}}" />
    <ion-card-header>
      <ion-card-title>
        {{inscritos.publicadores.nome}}
      </ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>