<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar showCancelButton="focus" placeholder="Encontrar meus publicadores" (ionChange)="updateListInscritos($event)">
  </ion-searchbar>
  <ion-content class="ion-padding">
    <ion-card class="pub" *ngFor="let inscritos of lstInscritos"  color="primary">
      <img src="{{inscritos.foto}}" />
      <ion-card-header>
        <ion-card-title>
          {{inscritos.nome}}
        </ion-card-title>
      </ion-card-header>
    </ion-card>
  </ion-content>