<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-searchbar showCancelButton="focus" placeholder="Encontrar Publicadores" (ionChange)="updateListPublicadores($event)">
  </ion-searchbar>
<ion-content class="ion-padding">
      <ion-card class="pub" *ngFor="let publicadores of lstPublicadores" [routerLink]="['/publisher', publicadores.id]" color="primary">
        <img src="{{publicadores.foto}}" />
        <ion-card-header>
          <ion-card-title class="ion-text">
            {{publicadores.nome}}
          </ion-card-title>
          <ion-toggle enabled color="secondary"></ion-toggle>
        </ion-card-header>    
      </ion-card>
</ion-content>