<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/news"></ion-back-button>
    </ion-buttons>
    <ion-title>UFLA News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="currentNews">
    <img src="{{currentNews.image}}" class="nd-banner" />
    <ion-card-header color="primary">
      <ion-card-title class="ion-text">
        {{currentNews.title}}
      </ion-card-title>
      <ion-card-subtitle>
        <ion-grid>
          <ion-row>
            <ion-tab-button color="light">
              <ion-icon name="time" *ngIf="likeId" (click)="handleLike()" color="light"></ion-icon>
              <span>{{currentNews.publishedAt | timeAgo}}</span>
            </ion-tab-button>
            <ion-tab-button color="light">
              <ion-icon name="heart" *ngIf="likeId" (click)="handleLike()" color="light"></ion-icon>
              <ion-icon name="heart" *ngIf="!likeId" (click)="handleLike()"></ion-icon>
              <span>{{currentNews.likes | likes}} likes</span>
            </ion-tab-button>

          </ion-row>
        </ion-grid>

      </ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
      <div class="accordion" *ngIf="currentNews.sections">
        <!-- Panel 1 -->
        <div *ngFor="let section of currentNews.sections; let i = index" [attr.data-index]="i">
          <input *ngIf="i != 0" type="radio" name="panel" id="panel-{{i+1}}">
          <input *ngIf="i == 0" type="radio" name="panel" id="panel-{{i+1}}" checked>
          <label for="panel-{{i+1}}"><span>{{section.title}}</span></label>
          <div class="accordion__content accordion__content--med">
            <div class="ion-text-justify">{{section.content}}</div>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>



  <!------------------------------>

  <ion-card *ngIf="comments" color="secondary">
    <ion-card-header color="secondary">
      <ion-card-title class="ion-text">
        Comentarios
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngFor="let comment of comments"
        class="nd-comment {{user.id == comment.user.id ? 'nd-comment-self' : '' }}">
        <ion-grid>
          <ion-row>
            <ion-label>
              <span class="user">{{comment.user.name}}</span>
              <span *ngIf="user.id == comment.user.id" class="user" class="exclude-self">
                <!--<ion-icon name="trash" color="danger"></ion-icon>-->
                <ion-icon name="trash" (click)="deleteComment(comment.id)" color="danger"></ion-icon>
              </span>
            </ion-label>
          </ion-row>
          <ion-row>
            <span class="content">{{comment.content}}</span>
          </ion-row>
          <ion-row class="timeparent">
            <span class="time">{{comment.publishedAt | timeAgo}}</span>
          </ion-row>
        </ion-grid>
      </ion-item>
      <div class="comment-input">
          <ion-item color="secondary">
            <!--<ion-input class="comment-text-input" placeholder=" Escreva seu comentario..."></ion-input>-->
            <!--<ion-icon name="send" *ngIf="likeId" (click)="handleLike()" color="primary"></ion-icon>-->
            <ion-input class="comment-text-input" placeholder=" Escreva seu comentario..." [(ngModel)]="commentInput.content"></ion-input>
            <ion-icon name="send" *ngIf="likeId" (click)="saveComment()" color="primary"></ion-icon>
          </ion-item>
        </div>
    </ion-card-content>
  </ion-card>




  <!------------------------------->


</ion-content>