.ion-publisher-name-text {
    font-size: 10vw;
    text-align: center;
    .ion-publisher-text {
        font-size: 3vw;
        text-align: center;
      }
  }
  
.nd-banner {
    height: 20vh;
}

.pp-subtitle {
    position: absolute;
    top: 2vh;
    right: 2vw;
}